<div class="row">
    <div class="col-12">
        <h1 class="mt-3">Welcome <%= name %>, you've logged in Successfully!</h1>
    </div>
    <div class="col-12">
        <h3>Total number of logged in users are: <%= activeUsers %></h3>
    </div>
</div>

<div class="row">
    <div class="col-2" style="position: relative; left: 0; top: 0;">
        <img 
            class="rounded-circle image" 
            style="position: relative; top: 0; left: 0;" 
            src=<%= resultUsers[0].icon %> 
            alt="<%= resultUsers[0].email %>_icon" 
            width=30%
            data-toggle="tooltip"
            data-html="true"
            title="<%= resultUsers[0].email %>"
            data-placement="bottom"
        />
        <% if(activeUsers >1) { %>
            <img 
                class="rounded-circle image" 
                style="position: absolute; top: 0; left: 40px;" 
                src=<%= resultUsers[1].icon %> 
                alt="<%= resultUsers[1].email %>_icon" 
                width=30%
                data-toggle="tooltip"
                data-html="true"
                title="<%= resultUsers[1].email %>"
                data-placement="bottom"
            />
        <% } %>
        <% if(activeUsers >2) { %>
            <img 
                class="rounded-circle image" 
                style="position: absolute; top: 0; left: 75px;"  
                src=<%= resultUsers[2].icon %> 
                alt="<%= resultUsers[2].email %>_icon" 
                width=30%
                data-toggle="tooltip"
                data-html="true"
                title="<%= resultUsers[2].email %>"
                data-placement="bottom"
            />
        <% } %>
        <% if(activeUsers >3) { %>
            <img 
                class="rounded-circle image" 
                style="position: absolute; top: 0; left: 110px;" 
                src=<%= resultUsers[3].icon %> 
                alt="<%= resultUsers[3].email %>_icon" 
                width=30%
                data-toggle="tooltip"
                data-html="true"
                title="<%= resultUsers[3].email %>"
                data-placement="bottom"
            />
        <% } %>
        <% if(activeUsers >4) { %>
            <img 
                class="rounded-circle image" 
                style="position: absolute; top: 0; left: 145px;" 
                src=<%= resultUsers[4].icon %> 
                alt="<%= resultUsers[4].email %>_icon" 
                width=30%
                data-toggle="tooltip"
                data-html="true"
                title="<%= resultUsers[4].email %>"
                data-placement="bottom"
            />
        <% } %>
        <% if(activeUsers >5) { %>
            <img 
                class="rounded-circle image" 
                style="position: absolute; top: 0; left: 180px;" 
                src="/images/icon6.png"
                alt="others" 
                width=30%
                data-toggle="tooltip"
                data-html="true"
                title="Other Users"
                data-placement="bottom"
            />
            <h2 style="position: absolute; top: 0; left: 195px;">+ <%= activeUsers-5 %></h2>
        <% } %>
    </div>
</div>
<div class="row">
    <h3>List of Users who have previously logged in:</h3>
    <ul class="list-group">
        <% Log.forEach(function(entry) { %>
            <li class="list-group-item"><%= entry.email %> &nbsp; -> logged in at : <%= entry.Log %></li>
        <% }); %>
    </ul>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>