<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <%- include ("partials/messages") %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
            <div class="form-group">
              <label for="icon">Icon</label>
              <div class="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="icon" id="icon1" value="/images/icon1.jpg">
                  <label class="form-check-label" for="icon1">
                    <img class="img-thumbnail rounded-circle" src="/images/icon1.jpg" alt="icon1" width=40%>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="icon" id="icon2" value="/images/icon2.png">
                  <label class="form-check-label" for="icon2">
                    <img class="i rounded-circle" src="/images/icon2.png" alt="icon2" width=50%>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="icon" id="icon3" value="/images/icon3.png">
                  <label class="form-check-label" for="icon3">
                    <img class="img-thumbnail rounded-circle" src="/images/icon3.png" alt="icon3" width=40%>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="icon" id="icon4" value="/images/icon4.png">
                  <label class="form-check-label" for="icon4">
                    <img class="img-thumbnail rounded-circle" src="/images/icon4.png" alt="icon4" width=40%>
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="icon" id="icon5" value="/images/icon5.png">
                  <label class="form-check-label" for="icon5">
                    <img class="img-thumbnail rounded-circle" src="/images/icon5.png" alt="icon5" width=40%>
                  </label>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>